:root {
    --font-main: 'Inter', sans-serif;
    --bg-color: #F6F1E6;
    --card-bg: #F0ECE1;
    --input-bg: #F2EAD8;
    --button-bg: #652A0E;
    --button-text: #FFFFFF;
    --text-color: #652A0E;
    --placeholder-color: #CEBF9D;
    --border-color: #ccc;
    --botao-hover: #3d1706;
    --btn-toggle-bg: #e3d4ba;
    --indicador: #3a231a;

    --btn-toggle: #3D1807;
    --indicador: #E0D1AF;
}

.tema-escuro {
    --bg-color: #1A110E;
    --card-bg: #2D1D17;
    --input-bg: #402820;
    --button-bg: #F0ECE1;
    --button-text: #371707;
    --text-color: #F0ECE1;
    --placeholder-color: #F0ECE1;
    --border-color: #5a3a2f;
    --btn-toggle-bg: #3a231a;
    --botao-hover: #d6caa8;
    --indicador: #F0ECE1;

    --btn-toggle: #F0ECE1;
    --indicador: #2D1D17;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    width: 100%;
}

/* Essa classe serve para o comando de ocultar elementos no JS */
.hidden {
    display: none !important;
}

.topo {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top:20px;
}

/* Botão Voltar (Seta da Base) */
.voltar {
    font-size: 20px;
    color: var(--button-bg);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.voltar:hover {
    color: var(--botao-hover);
    transform: scale(1.05);
}

/* Switch de Tema (Botão Sol/Lua) */
#dark-mode {
    display: none;
}

.switch label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 40px;
    background: var(--btn-toggle);
    border-radius: 50px;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
}

.switch .indicador {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--indicador);
    transition: .3s;
}

#dark-mode:checked + label .indicador {
    transform: translateX(40px);
}

.icon-moon,
.icon-sun {
    width: 18px;
    position: relative;
    z-index: 1;
}

/* Container deRedefinição de Senha / Login */
.container {
    margin: auto 20px;
    padding: 40px;
    max-width: 700px;
    width: calc(100% - 40px);
    background-color: var(--card-bg);
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.container h3 {
    font-size: 16px;
    margin-top: 20px;
}

.container ul {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.container p {
    margin-top: 25px;
    font-size: 13px;
    display: block;
    margin-left: 15px;
    font-weight: bold;
}
.container .email {
    display: block;
    padding: 12px;
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 100%;
    max-width: 575px;
    margin: 8px 0 20px 15px;

    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.container .email::placeholder {
    color: var(--placeholder-color);
}

body.tema-escuro .container .email {
    border: 1px solid transparent;
}

.container .botao, .botaoCodigo {
    text-decoration: none;
    margin: 30px auto 0 auto;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: var(--button-bg);
    color: var(--button-text);
    font-weight: bold;
    font-size: 15px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    display: block;
    padding: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    cursor: pointer;
}

.container .botao:hover, .botaoCodigo:hover {
    background-color: var(--botao-hover);
    transform: scale(1.03);
}

.container .botao:active, .botaoCodigo:active {
    transform: scale(0.97);
}

/* Inputs de 4 dígitos do código de confirmação */

.cod {
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    background-color: var(--input-bg);
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
    outline: none;
    transition: background-color 0.3s ease;
}

body.tema-escuro .cod {
    border: 1px solid transparent;
}

.codigo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Botão Fechar / Voltar (X) */

.container .botao-x {
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    color: var(--text-color);
    float: right;
    transition: transform 0.2s ease, color 0.2s ease;
}

.container .botao-x:hover {
    color: var(--botao-hover);
    transform: scale(1.2);
}

/*Link de Reenviar Código*/

.link-container {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    margin-top: 10px;
}

.link {
    background: none;
    border: none;
    color: var(--text-color);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    margin-top: 8px;
}

.link:hover {
    transform: scale(1.02);
    text-decoration: underline;
}