<!-- A Base vai carregar os elementos header, botão de tema escuro/claro fontes....-->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block titulo %}{% endblock %}</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo-autenticacao.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
          rel="stylesheet">
</head>

<body>

<header>
    <div class="topo">
        <!-- Seta voltar -->
        <a href="/" class="voltar">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <!-- Botão de tema -->
        <div class="toggle-tema">
            <div class="switch">
                <input type="checkbox" id="dark-mode">
                <label for="dark-mode">
                    <img src="{{ url_for('static', filename='img/lua.png') }}" class="icon-moon" alt="Lua">
                    <img src="{{ url_for('static', filename='img/sol.png') }}" class="icon-sun" alt="Sol">
                    <span class="indicador"></span>
                </label>
            </div>
        </div>
    </div>
</header>

<!-- CONTEÚDO DAS TELAS -->
{% block conteudo %}
{% endblock %}

<script src="{{ url_for('static', filename='js/tema-autenticacao.js') }}"></script>

</body>
</html>