<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/redefinirSenha.css') }}">
    <title>Cantinas Carvalho | Esqueceu a senha</title>
</head>

<body>

    <header>

        <div class="topo">

            <a href="/login" class="voltar">
                <i class="fa-solid fa-arrow-left"></i>
            </a>

            <div class="btn">

                <input type="checkbox" class="checkbox" id="botao-tema" />

                <label class="label" for="botao-tema">

                    <img src="{{ url_for('static', filename='img/sol.png') }}" class="sol">
                    <im src="{{ url_for('static', filename='img/lua.png') }}" class="lua">

                    <div class="indicador"></div>

                </label>

            </div>

        </div>

    </header>

    <!-- ========================= -->
    <!-- TELA EMAIL -->
    <!-- ========================= -->

    {% if etapa == 'email' %}

    <div class="container" id="redefinir">

        <h1>Redefinição de senha</h1>

        <p>Digite o email que você cadastrou a sua conta:</p>

        <form method="POST">

            <input class="email" type="email" name="email" placeholder="Digite o seu e-mail" required>

            <button type="submit" name="enviar_email" class="botao">
                Enviar o código
            </button>

        </form>

    </div>

    {% endif %}

    <!-- ========================= -->
    <!-- TELA CÓDIGO -->
    <!-- ========================= -->

    {% if etapa == 'codigo' %}

    <div class="container" id="cod">

        <a href="{{ url_for('esqueceuSenha') }}" class="botao-x">
            X
        </a>

        <h1>Confirmação de código</h1>

        <form method="POST">

            <div class="codigo">

                <input type="text" name="codigo" placeholder="Digite o código" class="cod" maxlength="4" required>

            </div>

            <button type="submit" name="verificar_codigo" class="botaoCodigo">
                Verificar o código
            </button>

        </form>

    </div>

    {% endif %}

    <!-- ========================= -->
    <!-- TELA NOVA SENHA -->
    <!-- ========================= -->

    {% if etapa == 'nova_senha' %}

    <div class="container" id="novaSenha">

        <a href="{{ url_for('esqueceuSenha') }}" class="botao-x">
            X
        </a>

        <h1>Nova senha</h1>

        <h3>Sua nova senha deve conter:</h3>

        <ul>
            <li>Sua senha deve conter no mínimo 8 caracteres</li>
            <li>Deve incluir pelo menos uma letra maiúscula (A-Z)</li>
            <li>Deve incluir pelo menos uma letra minúscula (a-z)</li>
            <li>Deve conter pelo menos um número (0-9)</li>
            <li>Deve conter pelo menos um caractere especial (!, @, #, $)</li>
            <li>Evite usar informações pessoais</li>
            <li>Não utilize senhas fáceis</li>
            <li>Não utilize senhas já usadas anteriormente</li>
        </ul>

        <form method="POST">

            <p>Nova senha:</p>

            <input class="email" type="password" name="senha" placeholder="Digite a sua nova senha" required>

            <p>Confirme a sua nova senha:</p>

            <input class="email" type="password" name="confirmar" placeholder="Confirme a sua nova senha" required>

            <button type="submit" name="alterar_senha" class="botao">
                Alterar a senha
            </button>

        </form>

        <a href="" class="botao">Alterar a senha  </a>
    </div>

    {% endif %}

</body>

</html>